<h2 class="text-center mb-5">About us</h2>
<section class="about container">
    <img src="../../assets/img/about.jpg">
    <img src="../../assets/img/about1.jpg">
    <img src="../../assets/img/doc.png">

    <h4 >ARUN HOSPITAL</h4>

 
    
    <p>Our mission is To evolve as a benchmark in quality healthcare available to one and all.</p>
 
   <p>To provide value added innovative, consistent, and continuously improving health and medical care to sustain and further improve clinical outcomes, patient safety, & patient satisfaction. </p>
    <p>Thank you for considering MMS  Hospital. to providea good medical care and encourage patient to recovery soon. Our vision and commitment to our customers is to deliver quality service and personal attention.</p>
        
    <p>Our mission is To evolve as a benchmark in quality healthcare available to one and all.</p>
 
   <p>To provide value added innovative, consistent, and continuously improving health and medical care to sustain and further improve clinical outcomes, patient safety, & patient satisfaction. </p>
    <p>Thank you for considering MMS  Hospital. to providea good medical care and encourage patient to recovery soon. Our vision and commitment to our customers is to deliver quality service and personal attention.</p>
    
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

    